<div class="container">
  <div class="row">
    <div class="span12"><h3>よくある質問</h3></div>
  </div>
  <div class="row">
    <div class="span12"><h4>システムの利用にお金はかかりますか？</h4>カットモデルの方は全て完全に無料です。スタイリストと美容室として登録されたかたは、基本的に全機能無料で提供していますが、オプションの設定として、カットモデルの方がスタイリスト検索した場合の検索順位を、任意の設定されている金額順に表示する機能を提供しています。そのオプションを設定した場合は、利用料がかかってしまいますが、デフォルト(初期値)のままの場合は利用料が発生することがありません。</div>
  </div><br/>
  <div class="row">
    <div class="span12"><h4>登録メールが届きません。</h4>メールの受信設定で「choistyle.net」からのメールを許可してください。もしくは、迷惑メールに入っている可能性がありますので、ご確認ください。</div>
  </div><br/>
  <div class="row">
    <div class="span12"><h4>他の人に氏名が見えたりしますか？</h4>氏名は他のユーザには見えません。そのかわり、ニックネームを表示名としています。</div>
  </div><br/>
</div>
