<div class="container">
  <div class="row">
    <div class="span12"><h3>運営者概要</h3></div>
  </div>
  <div class="row">
    <div class="span3">代表者名</div>
    <div class="span9">星 直史</div>
  </div>
  <div class="row">
    <div class="span3">所在地</div>
    <div class="span9">〒154-0002 東京都世田谷区下馬3-16-6 フラット下馬105号室</div>
  </div>
  <div class="row">
    <div class="span3">設立日</div>
    <div class="span9">2013年10月1日</div>
  </div>
  <div class="row">
    <div class="span3">運営内容</div>
    <div class="span9">インターネットサービス</div>
  </div>
  <div class="row">
    <div class="span3">お問い合わせ</div>
    <div class="span9">admin@choistyle.net</div>
  </div>
  <div class="row">
    <div class="span3">ブログ</div>
    <div class="span9"><%= link_to("http://saitou.hatenablog.com/","http://saitou.hatenablog.com/") %></div>
  </div>
  <div class="row">
    <div class="span3">Twitter</div>
    <div class="span9"><%= link_to("https://twitter.com/NaoshiHoshi", "https://twitter.com/NaoshiHoshi") %></div>
  </div>
</div>
