<div class="container">
  <div class="row">
    <div class="span12"><h3>特定商取引に関する表記</h3></div>
  </div>
  <div class="row">
    <div class="span3">販売者名および運営統括責任者</div>
    <div class="span9">星 直史</div>
  </div>
  <div class="row">
    <div class="span3">所在地</div>
    <div class="span9">〒154-0002 東京都世田谷区下馬3-16-6 フラット下馬105号室</div>
  </div>
  <div class="row">
    <div class="span3">お問い合わせ先</div>
    <div class="span9">admin@choistyle.net</div>
  </div>
  <div class="row">
    <div class="span3">商品の価格</div>
    <div class="span9">お客様の任意の金額。</div>
  </div>
  <div class="row">
    <div class="span3">商品以外の必要金額</div>
    <div class="span9">なし。</div>
  </div>
  <div class="row">
    <div class="span3">支払方法</div>
    <div class="span9">請求書支払</div>
  </div>
  <div class="row">
    <div class="span3">支払期限</div>
    <div class="span9">請求書に記載のお支払期日（月末締め翌月末）までにお支払いただきます。</div>
  </div>
  <div class="row">
    <div class="span3">返金について</div>
    <div class="span9">商品の価格はお客様の任意の金額となるため、商品の特性上、いかなる場合も返金は致しかねます。</div>
  </div>
  <div class="row">
    <div class="span3">引渡し時期</div>
    <div class="span9">月初に行う決済確認後、月初3営業日以内に、請求書をお送りいたします。</div>
  </div>
</div>
