<div class="container">
  <div class="row">
    <div class="span12"><h3>プライバシーポリシー</h3>
    Choistyle（以下「本サービス」といいます。）の利用者の皆様（以下「お客様」といいます。）に安心してご利用いただくため、最低限の個人情報をご提供いただいております。また本サービスでは、ご提供いただいた個人情報の保護につきまして、プライバシーポリシー（以下「本ポリシー」といいます。）に則り、細心の注意をもって厳重に管理しております。
    </div>
  </div><br/>
  <div class="row">
    <div class="span3">個人情報とは</div>
    <div class="span9">本ポリシーにおいて、本サービスを利用するためにお客様からご提供頂くメールアドレス、パスワード、氏名、住所、電話番号等、特定の個人を識別することに資する情報一切を個人情報として取り扱うものとします。なお、クッキー及びIPアドレス情報については、それら単独では特定の個人を識別することができないため、個人情報とは考えておりません。ただしこれらの情報と個人情報が一体となって使用される場合には、これらの情報も個人情報とみなします。
    なお、本サービスは、18歳に満たない方とわかっていながら、個人情報を要求したり、お受けすることはありません。18歳未満の方は、本サービスをご利用にならないでください。</div>
  </div>
  <div class="row">
    <div class="span3">個人情報の使用目的</div>
    <div class="span9">本サービスは、本ポリシーに則り、お客様による登録された個人情報を、以下の目的のために利用するものとします。
    
    本サービスを提供すること
    お問い合せ・苦情を含めたアフターサービス対応
    システムの維持、不具合対応
    ご本人確認
    料金請求
    個々のお客様に有益と思われる本サービス等の案内を、お客様がアクセスした本サービス、その他お客様の端末装置上に表示し、又は電子メールもしくは郵便等により送付すること。なお、お客様は、本サービスを通して届け出ることにより、これらの利用を中止させたり、再開させたりすることができます。
    お客様から個人情報の利用に関する同意を求めるための電子メールを送付すること。
    お客様の個人情報の属性の集計、分析を行い、個人が識別・特定できないように加工したもの（以下「統計資料」といいます。）を作成し、新規サービスの開発等の業務の遂行のために利用すること。
    本サービスに関する規約等に定める事項に対応するため
    その他、上記利用目的に附随する目的のため</div>
  </div>
  <div class="row">
    <div class="span3">情報の取扱いについて</div>
    <div class="span9">本サービスは、プライバシー尊重の観点から、個人情報は保護すべき重要な情報であると認識し、お客様の個人情報を厳重に管理いたします。個人情報に対する不正アクセス・改ざん・漏洩・紛失・破壊などに関して予防措置を講ずるとともに、万一このような事態が発生した際にはお客様へのご迷惑を最小限にとどめるよう速やかに対応いたします。</div>
  </div>
  <div class="row">
    <div class="span3">情報の開示・預託等</div>
    <div class="span9">本サービスは、個人情報の預託先とその利用目的を通知し承諾を得ない限り（画面上それらを明示し、お客様が拒絶する機会を設けることを含みます。）、第三者に個人情報を開示、預託しないものとします。但し、本サービスは、以下のいずれかに該当する場合、個人情報を開示・預託することがあります。
    
    本ポリシーに定める個人情報の使用目的の実施に必要な範囲で個人情報を業務委託先に預託する場合
    お客様の行為が本サービス利用規約や方針・告知等に違反している場合および他のお客様、第三者又は本サービスの権利、財産を保護するために必要と認められる場合
    裁判所、行政機関の命令、警察又はこれらに準じる公的機関より、適法に開示を要請された場合
    お客様の生命、身体又は財産の保護のために緊急に必要がある場合
    法令又はお客様が同意した利用規約等により個人情報の開示、預託が認められる場合</div>
  </div>
  <div class="row">
    <div class="span3">クッキーの使用について</div>
    <div class="span9">本サービスでは、「アクセス履歴の収集」「ログイン状態の確認」「検索結果の並び順変更」などの際に、クッキーを使用しています。お客様に本サービスをご利用いただく際の利便性向上を目的に行っていますので、お名前や電話番号などを識別することはありません。なお、クッキーを拒否された場合でも、サイトの閲覧などのサービスをご利用いただけますが、クッキーを利用した上記サービスに関して利用が制限されます点はご了承ください。
    同様にアクセス解析、広告配信などのため、契約している広告システムによりクッキー及びＷｅｂビーコンを利用していますが個人を識別することはありません。
    また、本サービスの一部では、お客様に適切な広告を配信するために、「行動ターゲティングサービス一覧」記載の各社が提供する行動ターゲティング広告サービスを利用しております。行動ターゲティング広告とは、サイト閲覧情報などをもとに、本サービスにアクセスされたお客様の興味・関心にあわせて広告を配信する広告手法です。行動ターゲティング広告サービスによる広告配信を希望されないお客様は「行動ターゲティングサービス一覧」から各社のオプトアウト用ウェブページにアクセスし無効化を行ってください。</div>
  </div>
  <div class="row">
    <div class="span3">個人情報の変更、削除及び開示について</div>
    <div class="span9">お客様が個人情報の確認又は変更を希望される場合は、本サービス所定の方式により確認・変更手続を行ってください。</div>
  </div>
  <div class="row">
    <div class="span3">個人情報の保持期間と利用期間について</div>
    <div class="span9">お客様が本サービスを利用されなくなった後であっても、本サービスは、当該個人情報を不特定期間保持することがあります。</div>
  </div>
  <div class="row">
    <div class="span3">個人情報の管理</div>
    <div class="span9">個人情報の管理については、運営者によって管理いたします。
    本サービスはネットワークの不正アクセスに対して防護対策を行い、本サービス管理サーバーに対しネットワーク外からアクセスすることができないよう努めております。本サービスはお客様の個人情報の安全性を確保するとともにその正確性を維持するために、特定の個人情報を送信する際には適切な対策と処置を講じております。</div>
  </div>
  <div class="row">
    <div class="span3">個人情報に関するトラブルについて</div>
    <div class="span9">本サービスでは、お客様の本人性の確認を、お客様の登録メールアドレスとパスワードによって行います。 パスワードの管理責任はお客様ご本人にあります。お客様の不注意により利用している登録メールアドレスやパスワードが流出したために発生した問題に関しましては本サービスは責任を一切負いません。
    本サービスは個人情報保護に対して最善をつくしますが、 お客様の不注意やインターネット上でのトラブルで発生した問題に対して一切責任を負いません。</div>
  </div>
  <div class="row">
    <div class="span3">検索詳細ページを作成するための利用</div>
    <div class="span9">本サービスにご登録頂いたお名前、性別、写真、などの情報は、本サービスの基本となるユーザ毎の詳細ページを作成するために用いられます。本サービスをご利用になることで、あなたが情報設定ページにご登録された内容は、他のユーザより閲覧可能な状態となることに同意されたものとします。</div>
  </div>
  <div class="row">
    <div class="span3">ユーザ間のコミュニケーションのための利用</div>
    <div class="span9">本サービスではユーザ間のより活発なコミュニケーションを促進するために、さまざまな機能を提供しております。これらの機能を用いることで、他のユーザとのコミュニケーションを目的とした様々な情報発信を行うことができます。こうした、ご自身のプロフィール以外のページにユーザが自発的に入力した情報は、任意に制限できる場合を除き本サービスのユーザ以外からも閲覧可能となります。従って、これらの機能を通じて名前や連絡先などの個人情報を公開することは、トラブルの原因となる場合もありますのでやむを得ない場合を除き極力お控え下さい。そのことが原因で何らかの問題が発生した場合、本サービスではその責任を一切負いかねますので、ご自身の責任の範囲内においてのご利用をお願い致します。</div>
  </div>
  <div class="row">
    <div class="span3">その他ご留意いただきたい点について</div>
    <div class="span9">本サービスはその独自裁量により、本ポリシーの条項をいつでも変更できる権利を有します。本ポリシーまたは本サービスがお客様の個人情報を使用する方法に重大な変更がある場合には、その旨をお知らせするために、本サービス上にて通知を掲載するか、お客様に電子メールを送信いたします。
    本ポリシーの記載事項は本サービスとお客様との間において効力を及ぼすものであり、本サービスのリンク先を含む第三者に適用されるものではありません。 本サービスよりリンクされた外部のサイトで登録される個人情報は、本サービスで管轄する情報ではない為、一切の責任を負うことができません。
    
    本サービスは今後グループ再編等によって、構成される会社の数や名称等に変動が生じる場合があります。</div>
  </div>
  <div class="row">
    <div class="span3">個人情報に関する苦情及びお問い合わせ先</div>
    <div class="span9">本ポリシーに関するお問い合せはadmin@choistyle.net からお問い合せください。</div>
  </div>
</div>
