<div class="container">
  <div class="row">
    <div class="span12"><h3>利用規約</h3></div>
  </div>
  <div class="row">
    <div class="span3">第1条(本コンテンツの使用許諾および利用条件)</div>
    <div class="span9">ChoiStyleは星直史が提供するサービスです。(以下、「本サービス」)本サービス利用規約(以下、「本規約」)は、 本サービスを利用される方すべて(以下、「ユーザ」)について、本サービスの利用を開始した時点で適用され、本規約に同意の上利用するものとします。
    本サービスは、ユーザに対し、本コンテンツを無償で使用する権利を許諾します。
    ユーザは、本規約および本サイトにおいて運営者が公開するまたは個別に通知もしくは提供する本コンテンツの機能説明、利用方法に関する説明、注意事項および制限事項等(以下、総称して「説明書等」と言います)に従い本コンテンツを利用するものとします。</div>
  </div>
  <div class="row">
    <div class="span3">第2条(定義)</div>
    <div class="span9">本規約において使用される用語の定義は次の各号のとおりとします。
    (1)「運営者」とは、星直史とします。
    (2)「本サービス」とは、運営者が運営する美容師とカットモデルのマッチングサービス(http://choistyle.net)をいいます。 (3)「本規約」とは、運営者が定めた、ChoiStyle利用規約をいいます。
    (4)「ユーザ」とは、本サービスを利用する不特定多数の個人、法人をいいます。</div>
  </div>
  <div class="row">
    <div class="span3">第3条(禁止事項)</div>
    <div class="span9">ユーザは、本コンテンツの利用または改変等に関連し、以下の行為を行わないものとします。
    ・本規約及ぼ説明書等の定めに違反する行為
    ・国内外の諸法令に違反するおそれのある行為
    ・運営者または第三者の権利(著作権、著作隣接権および商標権を含む知的財産権、プライバシー権、肖像権ならびに名誉権等を含むがこれらに限らない)を侵害する、またはそのおそれのある行為
    ・風俗、アダルトに関する情報、未成年者や青少年に有害な情報、またはそれらに類すると判断される情報を発信する行為
    ・運営者または他者に対して、ウィルス等の有害なコンピュータプログラム等の掲載等を行う行為や、不正にアクセスする行為、クラッキング行為、アタック行為、ウィルス発信行為、その他運営者または第三者の運用するコンピュータ等に支障を与える行為、またはそのおそれのある行為
    ・本コンテンツまたは改変等を行った本コンテンツ（以下総称して「本コンテンツ等」といいます）の第三者への配布、使用許諾または権利の譲渡
    ・本コンテンツ等を記録した媒体の第三者への配布または販売
    ・テンプレートに表示される運営者へのリンクを改変または削除する行為
    ・当サイトの運営を妨害する、またはそのおそれのある行為
    ・運営者または他者の著作権、商標権、特許権、実用新案権、意匠権等の知的財産権を侵害する行為、または、侵害するおそれのある行為
    ・運営者または他者の財産、プライバシー、人格権もしくは肖像権を侵害する行為、または、侵害するおそれのある行為
    ・他者を差別もしくは誹謗中傷し、他者の名誉もしくは信用を毀損、侮辱し、もしくは業務を妨害する行為、または、そのおそれのある行為
    ・違法情報、その他の犯罪を構成しまたは犯罪行為を誘発するデータの掲載等を行う行為
    ・無限連鎖講およびマルチ商法に関する、またはこれらに類似し類似するおそれのあるデータの掲載等を行う行為
    ・運営者の承諾を得ることなく他者に広告等のメールやメッセージを送信する行為、または、他者が嫌悪感を抱きもしくはそのおそれのあるメールやメッセージを送信する行為
    ・他者の個人情報を収集し、または、他者の個人情報の掲載等を行う行為
    ・本サービス等により入手し利用しうる運営者がユーザに提供するデータを、運営者の事前の承諾を得ることなく、改ざんまたは消去する行為
    ・他者になりすまして本サービス等を利用する行為
    ・運営者または他者の保有・管理等をする設備等の利用や運営に支障を与え、または与えるおそれのある行為
    ・運営者が過度または不適切であると判断する広告・勧誘行為
    ・前各項の他、本規約に違反する行為
    ・前各項の他、法令に抵触する行為、公序良俗に反する行為、他者の権利を侵害する行為、またはそのおそれがある行為
    ・前各項のいずれかに該当し、または該当しうることを知りつつ、その行為を助長し幇助する行為
    ・前各項の他、運営者により不適切と判断したユーザの行為</div>
  </div>
  <div class="row">
    <div class="span3">第4条(著作権等の知的財産権)</div>
    <div class="span9">本コンテンツにかかる著作権を含む知的財産権は、全て運営者または運営者に使用許諾を与える第三者に帰属するものとし、ユーザの本規約の同意によりユーザに対し何らの権利も譲渡されるものではありません。</div>
  </div>
  <div class="row">
    <div class="span3">第5条(無保証)</div>
    <div class="span9">本コンテンツの利用および改変等はユーザの責任において行うものとし、運営者は明示的にも黙示的にも一切の保証を行いません。</div>
  </div>
  <div class="row">
    <div class="span3">第6条(免責)</div>
    <div class="span9">本サービスの情報は、無料で提供します。当サイトを利用したウェブサイトの閲覧や情報収集については、情報がユーザの需要に適合するものか否か、情報の保存や複製その他ユーザによる任意の利用方法により必要な法的権利を有しているか否か、著作権、秘密保持、名誉毀損、品位保持および輸出に関する法規その他法令上の義務に従うことなど、ユーザご自身の責任において行っていただきますようお願いいたします。
    運営者は、当サイトの御利用につき、何らかのトラブルや損失・損害等につきましては一切責任を問わないものとします。
    本サービスが紹介しているウェブサイトやソフトウェアの合法性、正確性、道徳性、最新性、適切性、著作権の許諾や有無など、その内容については一切の保証を致しかねます。
    運営者は、本サービスからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。
    本コンテンツの利用または改変等により生じる結果ならびに本コンテンツを用いて行った行為の結果について、その理由または性質の如何にかかわらず、運営者は ユーザに対し何ら責任を負わないものとします。
    運営者は、 ユーザの本コンテンツの利用または改変等に関連し、 ユーザまたは第三者に生じた直接損害または結果的損害、付随的損害若しくは逸失利益等の間接損害について、いかなる場合においても何ら責任を負わないものとします。
    ユーザは、本コンテンツの利用または改変等に関連し生じた第三者との間の紛争または紛争のおそれ（以下「紛争等」といいます）の一切について、その理由または性質の如何にかかわらず、自らの責任と費用をもってこれを解決するものとし、運営者は当該紛争について何ら責任を負わないものとします。</div>
  </div>
  <div class="row">
    <div class="span3">第7条（退会）</div>
    <div class="span9">ユーザの本コンテンツの利用または改変等が本規約に違反すると運営者が判断する場合、運営者は、当該 ユーザに対し本コンテンツの使用の差し止めを請求することができるものとし、 ユーザはすみやかに当該請求に従うものとします。
    前項の定めは、当該違反により運営者が被った損害にかかる賠償請求を妨げないものとします。
    ・本サービスは、ユーザーが次の各号に掲げる場合には、本サービスの判断によって、ユーザを強制的に退会させて本サービスの利用をお断りすることがあります。
    (1)本規約に違反した場合
    (2)その他本サービスが不適切と判断した場合</div>
  </div>
  <div class="row">
    <div class="span3">第8条（本規約の変更）</div>
    <div class="span9">運営者は本規約の内容を ユーザに対して予告なく変更する場合があります。この場合、 ユーザは本サービスの内容および条件について変更後の規約に従うことに同意するものとします。
    変更後の規約については、運営者WEBサイトに掲示するものとします。</div>
  </div>
</div>
